img {
  max-width: 100%;
}

.important {
  font-weight: bold;
}

.panel-title {
  font-weight: bold;
}

.topnav a {
  float: left;
  color: black;
  padding: 14px 16px;
  font-size: 17px;
  font-family: Arial;
}

.cascading p {
  background-color: #63B5EA;
  color: #333333;
}

.box {
  margin: 12px;
  border: 2px solid #DDDDDD;
  color: #333333
  padding: 4px;
  background-color: #F5F5F5;
}
